Backend/Microservices/ApiGateway/server/node_modules/
Backend/Microservices/ApiGateway/server/logs/


Backend/Microservices/OrderService/server/node_modules/
Backend/Microservices/OrderService/serverlogs/

Backend/Microservices/PaymentService/server/node_modules/
Backend/Microservices/PaymentService/serverlogs/

Backend/Microservices/ProductService/server/node_modules/
Backend/Microservices/ProductService/serverlogs/

Backend/Microservices/UserService/server/node_modules/
Backend/Microservices/UserService/serverlogs/


Frontend/Admin/app/node_modules/
Frontend/Customer/app/node_modules/
Frontend/Vendor/app/node_modules/